*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-color : #f1f1f1;
    --text-color : #020419a9;
    --text-display-color : #f1f1f1;
}

body{
    background-image: url('./login.jpg');
    background-size: cover;
}

h2{
    text-align: center;
    font-size: 2.0rem;
    padding : 2%; 
}

.container{
    width : 100vw;
    height : 80vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}

.spotlight{
    width : 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top : 2%;
    padding-bottom: 2%;
    border-radius: 5%;
    color : var(--text-display-color);
    background-color: var(--text-color);
}

.login{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 30%;
    border-radius: 5%;
    color : var(--text-display-color);
    background-color: var(--text-color);
}

.login h2{
    text-align: center;
    font-size: 2.0rem;
    padding : 2%; 
}

.login input{
    width: 50%;
    padding: 2%;
    margin: 2%;
}

.login button{
    padding: 2%;
    margin: 2%;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 5%;
    font-size: 1rem;
}