*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.home-page{
    display: flex;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

header {
    position : fixed;
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    list-style: none;
    height: 100vh;
    width: 15vh;
    background-color: #887272;
    padding-left: 1%;
}

.content {
    margin-left: 12%;
}

section{
    min-height: 100vh;
}